@use '../base/base';



.button {
    font-family: base.$body-copy;
    text-decoration: none;
    color: base.$colour-dark;
    border: base.$colour-dark 1px solid;
    border-radius: 2em;
    // width:
    align-self: center;
    display: flex;
}
.button-small {
    padding: .5em;
    font-size: .9em;
}
.button-normal {
    background-color: base.$colour-light;
    padding: .5em 3em;
    // border: none;
    margin: 0 auto;
    text-align: center;
    width: 4em;
}

.button-outline {
    border: base.$colour-light 2px solid;
    color: base.$colour-light;
}
.button-long {
    background-color: base.$colour-light;
    padding: .5em 3em;
    // border: none;
    margin: 0 auto;
    text-align: center;
    justify-content: center; 
    width: 100%;

    @media screen and (min-width: 768px) {
        background-color: white;
        width: 4em;
        margin: 0;
        padding: .75em 4.5em;
        border: none;
        font-size: 1.2em;
    }
}