@use '../base/base';


@media screen and (min-width: 768px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 700px;
    }
}

//////////
// HERO //
//////////

.hero {
    position: relative;

    .image-hero {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .blurb__cta {
            position: absolute;
            bottom: 0;
            padding-bottom: 3em;
            width: 500px;
        }

        .section__title {
            color: base.$colour-light;
            font-size: 4em;
            text-align: left;
        }
    }

    @media screen and (min-width: 1024px) {
        .image-hero {
            // width: auto;
            height: 100vh;
            object-fit: cover;
        }
    }
}



/////////////
// WELCOME //
/////////////

.welcome {
    background-color: base.$colour-primary;
    padding: 2em;

    .logo {
        width: 40%;
        display: flex;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 150px;
        }
    }

    .blurb {
        margin-top: 1em;
    }


}



//////////////
// DISCOVER //
//////////////

.discover {
    position: relative;

    .image-hero {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .blurb__cta {
            position: absolute;
            bottom: 0;
            padding-bottom: 3em;
            width: 450px;
        }

        .section__title {
            color: base.$colour-light;
            font-size: 4em;
            text-align: left;
        }

        .body-copy {
            text-align: left;
            color: base.$colour-light;
            font-size: 1.3em;
            margin-bottom: 1em;
        }
    }
}



///////////
// RELAX //
///////////

.relax {
    // padding: 2em;

    .image {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        padding: 2em;

        .image {
            width: 500px;
            margin: 0 auto;
            display: flex;
            // padding-top: 3em;
        }

        .button-long {
            border: base.$colour-dark 1px solid;
            margin: 0 auto;
        }
    }
}



///////////
// ICONS //
///////////

.icons {

    background-color: base.$colour-primary;
    padding: 2em;
    width: 100%;

    .icons__all {
        margin: 0 auto;
        // max-width: 350px;
    }

    .icons__icon {
        padding-bottom: .5em;
        // max-width: 250px;
        // min-width: 150px;
    }

    .image {
        width: 150px;
        display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        margin: 0 auto;
    }

    .heading {
        text-align: center;
        font-size: 2em;
        // font-weight: 700;
    }

    .blurb {
        padding: 0 1em;
    }

    @media screen and (min-width: 768px) {
        display: flex;

        .icons__all {
            display: flex;
            margin: 0 auto;
        }

        .icons__icon {
            width: 250px;
            // padding: 0 1em;
            // max-width: 300px;

            // .icons__icon .image {
            //     // max-width: 50px;
            //     // width: 100%;
            // }
        }
    }
}



//////////////////
// TESTIMONIALS //
//////////////////

.testimonials {
    padding: 2em;

    .testimonials__review {
        padding-bottom: 1.5em;
    }

    .testimonials__name {
        font-size: 1.5em;
    }
    .testimonials__comment {
        text-align: left;
    }


    @media screen and (min-width: 768px) {
        .testimonials__all {
            display: flex;
        }
    }
}



///////////////
// INSTAGRAM //
///////////////

.instagram {

    .instagram__layout {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 1em;
    }
    .instagram__image {
        width: 100%;
    }

    @media screen and (min-width: 768px) {

        .instagram__layout {
            grid-template-columns: auto auto auto auto;
        }
    }
}