@use '../base/base';

.footer {
    background-color: base.$colour-secondary;
    width: 100%;
    padding: 2em;

    section {
        margin-bottom: 1.5em;
        text-align: center;
    }

    .logo {
        width: 50%;
        display: flex;
        margin: 0 auto;   
    }

    .footer__copyright {
        margin-bottom: 0;
    }
}

.socials {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 1.5em auto;


    .icon {
        margin:.5em;
        // width: 40px;
        // height: 40px
    }
    img {
        background-color: base.$colour-light;
        width: 40px;
        padding: .5em;
        border-radius: 100%;
    };
}

// .footer__contact {
//     text-align: center; 
// }

// .footer__links {
//     text-align: center;
// }

// .footer__legal {
//     text-align: center;
// }

